diracore @ git+https://github.com/ascender-native/dira-core.git@main#egg=diracore
diramigrate @ git+https://github.com/dira-solutions/dira-migrate.git@main#egg=diramigrate
fastapi==0.109.0
uvicorn==0.27.0
